
@font-face{font-family:"Be Vietnam Pro";font-weight:400;font-display:swap;src:url(BeVietnamPro-Regular.ttf) format("truetype")}
@font-face{font-family:"Be Vietnam Pro";font-weight:500;font-display:swap;src:url(BeVietnamPro-Medium.ttf) format("truetype")}
@font-face{font-family:"Be Vietnam Pro";font-weight:600;font-display:swap;src:url(BeVietnamPro-SemiBold.ttf) format("truetype")}
@font-face{font-family:"Be Vietnam Pro";font-weight:700;font-display:swap;src:url(BeVietnamPro-Bold.ttf) format("truetype")}
@font-face{font-family:"IBM Plex Mono";font-weight:400;font-display:swap;src:url(IBMPlexMono-Regular.ttf) format("truetype")}
@font-face{font-family:"IBM Plex Mono";font-weight:500;font-display:swap;src:url(IBMPlexMono-Medium.ttf) format("truetype")}
